<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
<h3><a th:href="@{/logout}">Out</a></h3>
<h3><a th:href="@{/book/all/0}">All books</a></h3>
<h3>My account: <a th:href="@{/client/{id}(id=${client.getClient().getId()})}"  th:text="${client.getUsername()}">My account</a></h3>
<h3><a th:if="${client.getClient().getRole() == 'ROLE_ADMIN'}" th:href="@{/author/new}" >Create new author</a> </h3>

<div th:each="author : ${authors}">
    <a th:href="@{/author/{id}(id=${author.getId()})}"
       th:text="${author.getName() +' ' +author.getSurname()}">user</a>
    <br>
    <img th:src="${author.getImageUrl()}" width="350" height="400">
</div>
<a th:if="${id!=0}" th:href="@{/author/all/{id}(id=${id-1})}" > Previous page</a>
<a th:if="${kol/5 != id}" th:href="@{/author/all/{id}(id=${id+1})}" >Next page</a>
</body>
</html>