<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update author</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/registration.css" />
</head>
<body>
<form action="#" th:action="@{/author/updateAuthor/{id}(id=${author.getId()})}" th:object="${author}" method="post">
  <span class="MainText">Обновление данных</span>
  <input type="text" th:field="*{name}" id="Name" placeholder="Имя">
  <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error </div>

  <input type="text" th:field="*{surname}" id="Surname" placeholder="Фамилия">
  <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">name error </div>

  <input type="text" th:field="*{imageUrl}" id="Url" placeholder="Аватар">
  <div th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}">name error </div>

  <input class="button" type="submit" value="Обновить">
</form>
</body>
</html>