<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/clientInfo.css" />
</head>
<body>
<div class="header">
    <span class="header_LeftSide">
      <span class="LeftSide_LogoSvg">
        <img src="/svg/logo.svg" alt=""/>
      </span>
      <span class="LeftSide_SiteName">Библиотека</span>
    </span>
    <span class="header_RightSide">
        <a class="RightSide_Item" th:href="@{/author/all/0}">Все авторы</a>
        <a class="RightSide_Item" th:if="${client.getClient().getRole() == 'ROLE_ADMIN'}" th:href="@{/author/delete/{id}(id=${author.getId()})}">Удалить</a>
        <a class="RightSide_Item" th:if="${client.getClient().getRole() == 'ROLE_ADMIN'}" th:href="@{/author/update/{id}(id=${author.getId()})}">Обновить информацию</a>
    </span>
</div>
<div class="main">
    <div class="main_leftBlock">
        <span class="leftBlock_MainText">Информация об авторе</span>
        <img class="leftBlock_img" th:src="${author.getImageUrl()}">
        <span class="leftBlock_UserData">Имя:&nbsp;<span class="UserData_current" th:text="${author.getName()}">user</span> </span>
        <span class="leftBlock_UserData">Фамилия:&nbsp;<span class="UserData_current" th:text="${author.getSurname()}">user</span></span>
    </div>
    <div class="main_rightBlock">
        <span class="rightBlock_MainText">Список его книг</span>
        <div class="rightBlock_UserBooks">
            <div class="UserBooks_item"  th:each="book : ${author.getBooks}">
                <a class="item_fulSub UserData_current" th:href="@{/book/{id}(id=${book.getId()})}"
                   th:text="${book.getName()}">user</a>
            </div>
        </div>
    </div>
</div>

<!--        <h3><a th:if="${#lists.isEmpty(author.getBooks)}">Our library hasn't any works of this author</a></h3>-->
</body>
</html>