<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/authors.css" />

</head>
<body>
<div class="header">
    <span class="header_LeftSide">
      <span class="LeftSide_LogoSvg">
        <img src="/svg/logo.svg" alt=""/>
      </span>
      <span class="LeftSide_SiteName">Библиотека</span>
    </span>
    </span>
    <span class="header_RightSide">
        <a class="RightSide_Item" th:href="@{/logout}">Выйти</a>
        <a class="RightSide_Item" th:href="@{/book/all/0}">Все книги</a>
        <a class="RightSide_Item" th:href="@{/client/{id}(id=${client.getClient().getId()})}">Мой аккаунт</a>
        <a class="RightSide_Item" th:if="${client.getClient().getRole() == 'ROLE_ADMIN'}" th:href="@{/author/new}" >Создать автора</a>
        <a class="RightSide_Item" th:if="${id!=0}" th:href="@{/author/all/{id}(id=${id-1})}">Предыдущая страница</a>
        <a class="RightSide_Item" th:if="${kol/5 != id}" th:href="@{/author/all/{id}(id=${id+1})}">Следующая страница</a>
    </span>
</div>
<div class="main">
    <div class="main_author" th:each="author : ${authors}">
        <img class="author_img" th:src="${author.getImageUrl()}">
        <a class="author_Text" th:href="@{/author/{id}(id=${author.getId()})}" th:text="${author.getName() +' ' +author.getSurname()}">user</a>
    </div>
</div>
<footer>
    <div class="footer_wrapper">
        <div class="wrapper_LeftBlock">
            <div class="LeftBlock_Blocks">
        <span class="LeftSide_LogoSvg">
          <img src="/svg/logo.svg" alt=""/>
        </span>
                <a th:href="@{/}" class="LeftSide_SiteName">Библиотека</a>
            </div>
            <span class="LeftBlock_Blocks">© 2023 библиотека им. Н.И. Лобачевского</span>
        </div>
        <div class="wrapper_RightBlock">
            <a class="RightBlock_Items" href="http://vk.com/club104625425"><img src="/svg/VK.svg" alt=""/></a>
            <a class="RightBlock_Items" href="https://kpfu.ru/library"><img src="/svg/WebPage.svg" alt=""/></a>
            <a class="RightBlock_Items" href="https://www.youtube.com/@user-ev4fj3by9o"><img src="/svg/YouTube.svg" alt=""/></a>
            <a class="RightBlock_Items" href="https://t.me/kpfulibrary"><img src="/svg/Telegram.svg" alt=""/></a>
        </div>
    </div>
</footer>
</body>
</html>