<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/registration.css" />
</head>
<body>
<form action="#" th:action="@{/book/updateBook/{id}(id=${book.getId()})}" th:object="${book}" method="post">
    <span class="MainText">Обновить</span>
    <input class="inputs" type="text" th:field="*{name}" id="Name" placeholder="Название">
    <input class="inputs" type="text" th:field="*{year}" id="Year" placeholder="Год издания">
    <span styles="display: flex; justify-content: center; width: 100%; height: auto; color: white">Выберите автора</span>
    <select class="inputs" th:object="${book}" th:field="*{author}" id="author">
        <option th:each="author:${authors}" th:value="${author.getId()}"
                th:text="${author.getName()+' '+author.getSurname()}"> </option>
    </select>
    <input class="inputs" type="text" th:field="*{imageUrl}" id="Url" placeholder="Обложка книги">
    <input class="button" type="submit" value="Update book">
</form>
</body>
</html>