<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/shortInfo.css" />
</head>
<body>
<div class="header">
    <span class="header_LeftSide">
      <span class="LeftSide_LogoSvg">
        <img src="/svg/logo.svg" alt=""/>
      </span>
      <span class="LeftSide_SiteName">Библиотека</span>
    </span>
    <span class="header_RightSide">
        <a class="RightSide_Item" th:href="@{/client/{id}(id=${client.getClient().getId()})}">Мой&nbsp;аккаунт</a>
        <a class="RightSide_Item" th:href="@{/book/all}">Все&nbsp;книги</a>
        <a class="RightSide_Item" th:href="@{/author/all}">Все&nbsp;авторы</a>
    </span>
</div>
<div class="main">
    <span class="main_MainText">Спасибо&nbsp;за&nbsp;покупку!!!</span>
    <span class="main_SecondText">Вы&nbsp;купили&nbsp;книгу:&nbsp;
    <a class="link" th:href="@{/book/{id}(id=${book.getId()})}" th:text="${book.getName()}"></a>&nbsp;у&nbsp;автора&nbsp;
    <a class="link" th:href="@{/author/{id}(id=${book.getAuthor().getId()})}"
       th:text="${book.getAuthor().getName() + ' ' +book.getAuthor().getSurname()}">user</a></span>
</div>
</body>
</html>