<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/shortInfo.css" />
</head>
<body>
<div class="header">
    <span class="header_LeftSide">
      <span class="LeftSide_LogoSvg">
        <img src="/svg/logo.svg" alt=""/>
      </span>
      <span class="LeftSide_SiteName">Библиотека</span>
    </span>
    <span class="header_RightSide">
        <a class="RightSide_Item" th:href="@{/client/{id}(id=${client.getClient().getId()})}">Мой&nbsp;аккаунт</a>
        <a class="RightSide_Item" th:href="@{/book/all}">Все&nbsp;книги</a>
        <a class="RightSide_Item" th:href="@{/author/all}">Все&nbsp;авторы</a>
    </span>
</div>
<div class="main">
    <span class="main_MainText" style="color: red">Извините,&nbsp;нет&nbsp;такой&nbsp;книги&nbsp;в&nbsp;наличии</span>
</div>
</body>
</html>