<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/registration.css" />
</head>
<body>
<form action="#" th:action="@{/client/newClient}" th:object="${client}" method="post">
    <span class="MainText">Регистрация</span>
    <input class="inputs" type="text" th:field="*{name}" id="Name" placeholder="Имя" />
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error </div>
    <input class="inputs" type="text" th:field="*{password}" id="Password" placeholder="Пароль" />
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">name error </div>
    <input class="inputs" type="text" th:field="*{imageUrl}" id="Url" placeholder="Аватар" />
    <div th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}">name error </div>
    <input class="inputs" type="text" th:field="*{phone}" id="Phone" placeholder="Телефон" />
    <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">name error </div>
    <input class="button" type="submit" value="Зарегистрироваться" />
</form>
</body>
</html>