<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/clientInfo.css" />
</head>
<body>
<div class="header">
    <span class="header_LeftSide">
      <span class="LeftSide_LogoSvg">
        <img src="/svg/logo.svg" alt=""/>
      </span>
      <span class="LeftSide_SiteName">Библиотека</span>
    </span>
    </span>
    <span class="header_RightSide">
        <a class="RightSide_Item" th:href="@{/logout}">Выйти</a>
        <a class="RightSide_Item" th:href="@{/author/all/0}">Все авторы</a>
        <a class="RightSide_Item" th:href="@{/book/all/0}">Все книги</a>
        <a class="RightSide_Item" th:if="${realClient.getClient().getRole() == 'ROLE_ADMIN'}" th:href="@{/client/delete/{id}(id=${client.getId()})}">Удалить аккаунт</a>
        <a class="RightSide_Item" th:if="${realClient.getClient().getRole() == 'ROLE_ADMIN' or realClient.getClient().getId() == client.getId()}" th:href="@{/client/update/{id}(id=${client.getId()})}">Обновить информацию</a>
    </span>
</div>
<div class="main">
    <div class="main_leftBlock">
        <span class="leftBlock_MainText">Информация о пользователе</span>
        <img class="leftBlock_img" th:src="${client.getImageUrl()}">
        <span class="leftBlock_UserData">Имя:&nbsp;<span th:text="${client.getName()}" class="UserData_current">client</span> </span>
        <span class="leftBlock_UserData">Пароль:&nbsp;<span th:if="${realClient.getClient().getRole() == 'ROLE_ADMIN' or realClient.getClient().getId() == client.getId()}" th:text="${client.getPassword()}" class="UserData_current">client</span></span>
        <span class="leftBlock_UserData">Номер телефона:&nbsp;<span th:text="${client.getPhone()}" class="UserData_current">client</span></span>
        <span class="counter"> counter:<span th:text = "${count}"></span></span>
    </div>
    <div class="main_rightBlock">
        <span class="rightBlock_MainText">Книги взятые на прократ</span>
        <div class="rightBlock_UserBooks">
            <div class="UserBooks_item"  th:each="book : ${client.getBooks}">
                <a class="item_subItem UserData_current" th:href="@{/book/{id}(id=${book.getId()})}" th:text="${book.getName()}">user</a>
                <a class="item_subItem UserData_current" th:if="${realClient.getClient().getId() == client.getId()}" th:href="@{/book/return/{id}(id=${book.getId()})}">Вернуть</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>

