<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
  <meta charset="UTF-8">
  <title>Our library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
<section >
  <div class="Section_TopBlock">
    <span class="TopBlock_LeftSide">
      <span class="LeftSide_LogoSvg">
        <img src="/svg/logo.svg" alt=""/>
      </span>
      <span class="LeftSide_SiteName">Библиотека</span>
    </span>
      <span class="TopBlock_RightSide">
      <span sec:authorize="!isAuthenticated()" class="RightSide_Item"><a th:href="@{/login}">Войти</a></span>
      <span class="RightSide_Item"><a th:href="@{/book/all/0}">Книги</a></span>
      <span class="RightSide_Item"><a th:href="@{/author/all/0}">Авторы</a></span>
      <span sec:authorize="!isAuthenticated()" class="RightSide_Item"><a th:href="@{/client/new}">Регистрация</a></span>
      <span sec:authorize="hasRole('ADMIN')" class="RightSide_Item"><a th:href="@{/client/all}">Клиенты</a></span>
    </span>
  </div>
  <div class="Section_BottomBlock">
    <div class="BottomBlock_LeftSide">
      <span class="LeftSide_MainText">Научная библиотека им. Н.И. Лобачевского</span>
      <span class="LeftSide_MiddleText">420008, Казань, ул.Кремлевская, д.35</span>
      <span class="LeftSide_SmallText">Открыта с понедельника по пятницу, с 9:00 до 17:00</span>
    </div>
    <div class="BottomBlock_RightSide">
        <div class="RightSide_Carousel"></div>
    </div>
  </div>
</section>
<section>
  <div class="SectionTwo_MiddleBlock">
    <div class="MiddleBlock_LeftSide">
      <span class="LeftSide_GeneralText">Наша библиотека</span>
      <span class="LeftSide_Item">обладает почти 6-миллионным фондом</span>
      <span class="LeftSide_Item">входит в число крупнейших библиотек России</span>
      <span class="LeftSide_Item">содержит информацию обо всех изданиях, более 1 миллиона записей содержится в электронных каталогах</span>
      <span class="LeftSide_Item">имеет возможность электронной доставки документов, отсутствующих в библиотеке</span>
      <span class="LeftSide_Item">включает услуги виртуальной справочной службы</span>
      <span class="LeftSide_Item">обзор виртуальные выставок</span>
    </div>
    <div class="MiddleBlock_RightSide">
      <img src="/photo/librairy.jpg" alt="" width="75%" height="75%" style="border-radius: 10px">
    </div>
  </div>
</section>
<footer>
  <div class="footer_wrapper">
    <div class="wrapper_LeftBlock">
      <div class="LeftBlock_Blocks">
        <span class="LeftSide_LogoSvg">
          <img src="/svg/logo.svg" alt=""/>
        </span>
        <span class="LeftSide_SiteName">Библиотека</span>
      </div>
      <span class="LeftBlock_Blocks">© 2023 библиотека им. Н.И. Лобачевского</span>
    </div>
    <div class="wrapper_RightBlock">
      <a class="RightBlock_Items" href="http://vk.com/club104625425"><img src="/svg/VK.svg" alt=""/></a>
      <a class="RightBlock_Items" href="https://kpfu.ru/library"><img src="/svg/WebPage.svg" alt=""/></a>
      <a class="RightBlock_Items" href="https://www.youtube.com/@user-ev4fj3by9o"><img src="/svg/YouTube.svg" alt=""/></a>
      <a class="RightBlock_Items" href="https://t.me/kpfulibrary"><img src="/svg/Telegram.svg" alt=""/></a>
    </div>
  </div>
</footer>
</body>
</html>
